/* styles/Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: linear-gradient(135deg, #f8fcff, #ddfbff, #fff0f5);
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.polyIcon {
    font-size: 32px;
    margin-right: 5px;
}

.icon {
    color: #333;
    cursor: pointer;
}